*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
}



header{ 
 background-image: url(b2ap3_large_COTIJUBA2.jpg);

background-attachment: fixed;
background-repeat: no-repeat;
display: flex;
height:400px;
width: 100%;

 
 

}





.inicio{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 80px;


    
 
    
}

.cabeca{
    
    background-color: rgba(0, 0, 0, 0.5);
    height:400px;
    width: 100%;

}
.descricao{
    text-indent: 20px;
    margin-top: 20px;
    
    color: rgb(255, 255, 255);
    

 

}
#butao{

    position: absolute;
    left: 8em;
    margin-top: 20px;
    background-color: rgb(1, 83, 35);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transition: 0.5;
    box-shadow: rgba(0, 0, 0, 0.5);

  
    
 
}
#butao:hover {
    background-color: rgb(252, 252, 252);
    color: black;
    transition: background-color .5s;
}


.titu {
    display: flex;
    margin: 20px;
    color: rgb(80, 112, 31);
    font-size: 2.5em;
}
.resu {
  
    font-size: 0.5em;
    text-decoration: none;

}

#lado{ 
    height: 10em;
    border-radius: 5px;
    justify-items: end;
    top: 50%;
    left: 50%;
    position: absolute;
  

}

@media (min-width: 700px) {
    .laodo {
        background-color: aliceblue;
    }
}

